
.record {
  padding: 20px;
  width: 60%;
  
  display: flex;
  flex-direction: column;
}

.DWTime_input {
  display: flex;
  flex-direction: row;
}

.time_collon {
  margin: 0 14px;
}

.result {
  padding: 10px;
  width: 600px;
  height: 500px;
}


